# Ignore any coverage locations and reports
coverage.out
coverage.html
coverage/*

# CodeQL files and directories
.codeql
codeql.sarif

# Ignore the build output
bin/*
dist/*

# Ignore taskfile processing directory
.task
