# Ignore any coverage locations and reports
coverage.out
coverage.html
coverage/*

# CodeQL files and directories
.codeql
codeql.sarif

# Ignore the build output and any pre-built downloads
bin/*
dist/*
scripts/pull-requester*
scripts/LICENSE

# Ignore taskfile processing directory
.task
