---
name: Draft Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: read

jobs:
  release-draft:
    name: Draft the Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Draft the release
        id: drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter.yaml
          disable-autolabeler: true

      - name: Prepare the published tag reference
        run: |-
          sed -i 's|\(scripts/run\) \(v[0-9\.]\+\)$|\1 ${{ steps.drafter.output.id }}|' action.yaml

      - name: Commit the published tag update
        run: |-
          if git diff --exit-code --quiet action.yaml
          then
            echo "No changes to action.yaml need to be committed for the release."
            exit 0
          fi
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add action.yaml
          git commit --no-verify \
             -m "Update tag in GitHub Action to prepare for release" \
             -m "Update the published tag to ${{ steps.drafter.output.id }} to prepare the GitHub Action for release."
          git push
