---
name: Build Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write
  issues: write

defaults:
  run:
    # Error handling and pipefile must be explicitly set via the default shell
    #   https://github.com/actions/runner/issues/353#issuecomment-1067227665
    shell: bash --noprofile --norc -eo pipefail {0}

jobs:
  goreleaser:
    name: GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch the tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        id: releaser
        uses: goreleaser/goreleaser-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          distribution: goreleaser
          version: latest
          args: release --clean

  update-tags:
    name: Update Major/Minor Tags
    runs-on: ubuntu-latest
    needs:
      - goreleaser
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Fetch the tags
        run: git fetch --force --tags

      - name: Force update the major tag
        run: |
          TAG=${GITHUB_REF/refs\/tags\//}
          VERSION=${TAG#v}
          MAJOR=${VERSION%%.*}
          git tag v${MAJOR} ${TAG} -f
          git push origin refs/tags/v${MAJOR} -f

      - name: Force update the major/minor tag
        run: |
          TAG=${GITHUB_REF/refs\/tags\//}
          VERSION=${TAG#v}
          MAJOR_MINOR=${VERSION%.*}
          git tag v${MAJOR_MINOR} ${TAG} -f
          git push origin refs/tags/v${MAJOR_MINOR} -f
